@charset "UTF-8";

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2;
  letter-spacing: 0.1em;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.6s ease;
}

a:hover {
  transition: all 0.6s ease;
}

.content-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1400px;
}

section h2 {
  font-size: 2rem;
}
.inner {
  width: 90%;
  margin: 0 auto;
}
.inner:after {
  content: "";
  clear: both;
  display: block;
}

/* header */
#top-head {
  top: -150px;
  position: absolute;
  width: 100%;
  margin: 100px auto 0;
  padding: 30px 0 0;
  line-height: 1;
  z-index: 999;
}
#top-head a,
#top-head {
  color: #fff;
  text-decoration: none;
}
#top-head .inner {
  position: relative;
}
#top-head .logo {
  float: left;
  font-size: 2rem;
  color: black;
  margin: 0;
  margin-top: 40px;
}
#global-nav ul {
  list-style: none;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 20px;
}
#global-nav ul li {
  float: left;
}
#global-nav ul li a {
  padding: 0 30px;
  font-size: 20px;
}
.phone {
  text-decoration: underline;
  color: #333;
}

/* Fixed */
#top-head.fixed {
  margin-top: 0;
  top: 0;
  position: fixed;
  padding-top: 10px;
  height: 55px;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  transition: top 0.65s ease-in;
  -webkit-transition: top 0.65s ease-in;
  -moz-transition: top 0.65s ease-in;
}
#top-head.fixed .logo {
  font-size: 24px;
  color: #333;
  margin: 0;
}
#top-head.fixed #global-nav ul li a {
  color: #333;
  padding: 0 20px;
}

/* Toggle Button */
#nav-toggle {
  display: none;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 34px;
  height: 36px;
  cursor: pointer;
  z-index: 101;
}
#nav-toggle div {
  position: relative;
}
#nav-toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #666;
  left: 0;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 11px;
}
#nav-toggle span:nth-child(3) {
  top: 22px;
}

/* .nav-button.active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}

.nav-button.active span:nth-of-type(2) {
  
  opacity: 0;
}

.nav-button.active span:nth-of-type(3) {
  transform: translateY(-20px) rotate(45deg);
} */

.mainvisual {
  position: relative;
}

.mainvisual img {
  height: 700px;
  object-fit: cover;
  object-position: 0 15%;
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
  /* clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 63%, 69% 100%, 33% 63%, 0 100%, 0 0); */
}
.mainvisual h2 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 5vw;
  color: black;
}
.topics {
  padding: 120px;
}
.topics .content-wrapper {
  display: -webkit-flex;
  display: flex;
}
.topics .heading {
  width: 35%;
}
.topics .content {
  width: 65%;
}
.topics .content table {
  width: 100%;
  margin: 0 0 25px 0;
}
.topics .content th {
  padding: 20px 2em 20px 0;
  border-bottom: 1px dotted;
}
.topics .content td {
  border-bottom: 1px dotted;
}
.topics .content tr:last-of-type th,
.topics .content tr:last-of-type td {
  border-bottom: none;
}
.topics .content .btn {
  margin: 0;
}

.topics .content .btn a {
  display: block;
  font-size: 0.8rem;
  color: #000;
  border: 1px solid #000;
  width: 200px;
  line-height: 60px;
  text-align: center;
  margin: 0 0 0 auto;
}
.topics .content .btn a:hover {
  background: #333;
  color: #fff;
}
.topics h2 {
  position: relative;
  text-align: center;
}
.topics h2 span {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0 2.5em;
  padding: 0 1em;
  background-color: #fff;
  text-align: left;
}
.topics h2::before {
  position: absolute;
  top: 50%;
  z-index: 1;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.institution {
  background: url(../img/workout-fitness-center.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
  position: relative;
  z-index: 1;
  width: 100%;
}
/* .institution::before {
  background: url(../img/workout-fitness-center.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  content: "";
  height: 100vh;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
} */
.institution::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.institution .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.institution h2 {
  color: #fff;
  text-align: left;
}
.institution p {
  color: #fff;
  text-align: left;
  margin-bottom: 70px;
}
.institution p.btn {
  margin: 0;
}
.institution p.btn a {
  color: #fff;
  display: block;
  font-size: 0.875rem;
  border: 1px solid #fff;
  width: 200px;
  line-height: 60px;
  text-align: center;
}
.institution p.btn a:hover {
  box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.3) inset;
}
.recruit {
  padding: 10% 0;
  position: relative;
}
.recruit::after {
  content: "";
  background-color: #f3f3f3;
  height: 150%;
  width: 40%;
  position: absolute;
  top: -10%;
  left: 30%;
  transform-origin: left top;
  transform: skewX(-30deg);
  z-index: -1;
}
.recruit ul {
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  transform: skewY(2deg);
}
.recruit ul li {
  width: 48%;
  position: relative;
}
.recruit ul li figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 66%;
  background: rgba(50, 50, 50, 0.7);
  z-index: 1;
  transition: all 0.6s ease;
}
.recruit ul li a:hover figure::after {
  background: rgba(50, 50, 50, 0.4);
  transition: all 0.6s ease;
}
.recruit li span {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(-2deg);
  z-index: 2;
  color: #fff;
  font-size: 2rem;
  text-align: center;
}
.contact {
  width: 100%;
  height: 500px;
  background: url(../img/blur-1972569_1920.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.contact::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.contact ul {
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
}
.contact li {
  width: 300px;
  margin: 0 50px;
}
.contact li a {
  border: 1px solid #fff;
  font-size: 1.25rem;
  color: #fff;
  display: block;
  text-align: center;
  padding: 1em 0;
}
.contact li a:hover {
  box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.3) inset;
}
.footer section {
  padding-top: 120px;
}
.footer .high {
  border-bottom: 1px solid #333;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: flex-end;
}
.footer .high h1 {
  font-size: 1.5rem;
}
.footer .high ul {
  display: -webkit-flex;
  display: flex;
  margin-bottom: 25px;
}
.footer .high li a {
  color: #333;
  padding: 0 25px;
}
.footer .high li a:hover {
  opacity: 0.6;
}
.footer .low {
  padding: 25px 0 80px 0;
  color: #333;
}
.footer .low span {
  padding-left: 1em;
}
.footer section p {
  color: #333;
  text-align: center;
  font-size: 0.75rem;
}

@media screen and (max-width: 1199px) {
  #top-head,
  .inner {
    width: 100%;
    padding: 0;
  }
  #top-head {
    top: 0;
    position: fixed;
    margin-top: 0;
  }
  /* Fixed reset */
  #top-head.fixed {
    padding-top: 0;
    background: transparent;
  }
  #mobile-head {
    background: #fff;
    width: 100%;
    height: 56px;
    z-index: 999;
    position: relative;
  }
  #top-head.fixed .logo,
  #top-head .logo {
    position: absolute;
    left: 13px;
    top: 13px;
    color: #333;
    font-size: 26px;
    margin: 0;
  }
  #global-nav {
    position: absolute;
    /* 開いてないときは画面外に配置 */
    top: -500px;
    background: #333;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  #global-nav ul {
    list-style: none;
    position: static;
    right: 0;
    bottom: 0;
    font-size: 13px;
  }
  .phone {
    color: #fff;
    padding: 18px 0;
    font-size: 13px;
  }
  #global-nav ul li {
    float: none;
    position: static;
  }
  #top-head #global-nav ul li a,
  #top-head.fixed #global-nav ul li a {
    width: 100%;
    display: block;
    color: #fff;
    padding: 18px 0;
  }
  #nav-toggle {
    display: block;
  }
  /* #nav-toggle 切り替えアニメーション */
  .open #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }
  /* #global-nav スライドアニメーション */
  .open #global-nav {
    /* #global-nav top + #mobile-head height */
    -moz-transform: translateY(556px);
    -webkit-transform: translateY(556px);
    transform: translateY(556px);
  }

  .topics {
    padding: 50px 5vw;
  }
  .topics .content-wrapper {
    display: block;
  }
  .topics .heading {
    width: 100%;
  }
  .topics .heading h2 {
    text-align: center;
    margin-bottom: 5vw;
  }
  .topics .content {
    width: 100%;
  }
  .footer .high {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .topics {
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
  }
  .topics .content .btn a {
    width: 35%;
    min-width: 200px;
    margin: 0 auto;
  }
  .recruit ul {
    transform: none;
  }
  .recruit li span {
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
  }
  .footer section {
    padding-top: 50px;
  }
  .footer .high li {
    width: calc(100% / 3);
    margin: 0 0 10px;
  }
  .footer .high li a {
    display: block;
    text-align: center;
    padding: 0;
  }
}

@media screen and (max-width: 479px) {
  .topics .content th {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1.25rem 0 0 0;
    border-bottom: 0;
  }
  .topics .content td {
    display: block;
    width: 100%;
  }
  .institution .content {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .institution h2,
  p {
    text-align: center;
  }
  .institution p.btn a {
    width: 30%;
    min-width: 200px;
    margin: 0 auto;
  }
  .recruit ul li {
    width: 90%;
    margin: 0 auto 20px auto;
  }
  .footer .high h1,
  .low {
    text-align: center;
  }
}
